@font-face {
  font-family: 'AirbnbCerealBlack';
  src: local('AirbnbCerealBlack'),
    url(../fonts/AirbnbCerealBlack.woff) format('woff');
}

@font-face {
  font-family: 'AirbnbCerealBold';
  src: local('AirbnbCerealBold'),
    url(../fonts/AirbnbCerealBold.woff) format('woff');
}

@font-face {
  font-family: 'AirbnbCerealBook';
  src: local('AirbnbCerealBook'),
    url(../fonts/AirbnbCerealBook.woff) format('woff');
}

@font-face {
  font-family: 'AirbnbCerealExtraBold';
  src: local('AirbnbCerealExtraBold'),
    url(../fonts/AirbnbCerealExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'AirbnbCerealLight';
  src: local('AirbnbCerealLight'),
    url(../fonts/AirbnbCerealLight.woff) format('woff');
}

@font-face {
  font-family: 'AirbnbCerealMedium';
  src: local('AirbnbCerealMedium'),
    url(../fonts/AirbnbCerealMedium.woff) format('woff');
}
