@media only screen and (max-width: 600px) {
  .section {
    .headings {
      padding: 1em;
    }
    &.section-residential {
      &:before {
        background: linear-gradient(
            0deg,
            rgba(0, 13, 47, 0) 55.07%,
            rgba(0, 14, 49, 0.8) 90.5%
          ),
          linear-gradient(
            180.08deg,
            rgba(0, 13, 47, 0) 90%,
            rgba(0, 14, 49, 0.8) 100%
          ),
          url('../img/home-mobile.jpg');
        background-size: cover;
        background-position: center 40%;
        height: 100vh;
      }
    }
    &.section-solar {
      &:before {
        background: linear-gradient(
            0deg,
            rgba(0, 13, 47, 0) 55.07%,
            rgba(0, 14, 49, 0.8) 90.5%
          ),
          linear-gradient(
            180.08deg,
            rgba(0, 13, 47, 0) 90%,
            rgba(0, 14, 49, 0.8) 100%
          ),
          url('../img/Solar-mobile.jpg');
          background-size: cover;
          background-position: right 40%;
          height: 100vh;
      }
    }
    &.section-tile {
      &:before {
        background: linear-gradient(
            0deg,
            rgba(0, 13, 47, 0) 55.07%,
            rgba(0, 14, 49, 0.8) 90.5%
          ),
          linear-gradient(
            180.08deg,
            rgba(0, 13, 47, 0) 90%,
            rgba(0, 14, 49, 0.8) 100%
          ),
          url('../img/tile-mobile.png');
          background-size: cover;
          background-position: right 40%;
          height: 100vh;
      }
    }
    &.section-metal {
      &:before {
        background: linear-gradient(
            0deg,
            rgba(0, 13, 47, 0) 55.07%,
            rgba(0, 14, 49, 0.8) 90.5%
          ),
          linear-gradient(
            180.08deg,
            rgba(0, 13, 47, 0) 90%,
            rgba(0, 14, 49, 0.8) 100%
          ),
          url('../img/metal-mobile.jpg');
          background-size: cover;
          background-position: right 40%;
          height: 100vh;
      }
    }
    &.section-footer {
      background: url('../img/footer-mobile.jpg');
    }
    .cta {
      flex-direction: column;
      margin-bottom: 2em;
      a {
        display: block;
        min-width: calc(100% - 6em);
      }
    }
  }

  .footer {
    flex-direction: column;
    & div {
      margin-bottom: 0.75em;
    }
  }
}
