@media only screen and (max-width: 868px) {
  .section {
    h1 {
      margin-top: 4.5rem;
      font-size: 26px;
    }
    h3 {
      font-size: 16px;
    }
    &.section-residential {
      &:before {
        background: linear-gradient(
            0deg,
            rgba(0, 13, 47, 0) 55.07%,
            rgba(0, 14, 49, 0.8) 90.5%
          ),
          linear-gradient(
            180.08deg,
            rgba(0, 13, 47, 0) 90%,
            rgba(0, 14, 49, 0.8) 100%
          ),
          url('../img/home-mobile.jpg');
        background-size: cover;
        background-position: center 40%;
        height: 100vh;
      }
    }
    &.section-solar {
      background: linear-gradient(
          0deg,
          rgba(0, 13, 47, 0) 55.07%,
          rgba(0, 14, 49, 0.8) 90.5%
        ),
        linear-gradient(
          180.08deg,
          rgba(0, 13, 47, 0) 90%,
          rgba(0, 14, 49, 0.8) 100%
        ),
        url('https://res.cloudinary.com/remoteroofing/image/upload/v1616425223/solar-mobile_uy7nop.jpg');
      background-size: cover;
      background-position: 70% 100%;
    }
    &.section-tile {
      background: linear-gradient(
          0deg,
          rgba(0, 13, 47, 0) 55.07%,
          rgba(0, 14, 49, 0.8) 90.5%
        ),
        linear-gradient(
          180.08deg,
          rgba(0, 13, 47, 0) 90%,
          rgba(0, 14, 49, 0.8) 100%
        ),
        url('https://res.cloudinary.com/remoteroofing/image/upload/v1616425222/tile-mobile_kqzcgs.jpg');

      background-size: cover;
      background-position: left;
    }
    &.section-metal {
      background: linear-gradient(
          0deg,
          rgba(0, 13, 47, 0) 55.07%,
          rgba(0, 14, 49, 0.8) 90.5%
        ),
        linear-gradient(
          180.08deg,
          rgba(0, 13, 47, 0) 90%,
          rgba(0, 14, 49, 0.8) 100%
        ),
        url('https://res.cloudinary.com/remoteroofing/image/upload/v1616425222/metal-mobile_q60n8s.jpg');

      background-size: cover;
      background-position: 80% 40%;
    }
    &.section-footer {
      background: url('https://res.cloudinary.com/remoteroofing/image/upload/v1616425384/footer-mobile_yqr0nq.jpg');
    }
  }

  nav {
    // .navbar,
    .button {
      display: none;
    }
    .navbar {
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      transform: translateX(100%);
      transform-origin: 0% 0%;
      max-width: 1px;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      right: -1em;
      top: -2em;
      z-index: 5;
      background: #fff;
      height: 100vh;
      min-width: 80vw;
      padding-top: 2em;
      padding-left: 0;
      .mobile-close {
        display: none;
      }
      &.open {
        transform: translateX(0);
        width: 100%;
      }

      li {
        margin-right: 1.62em;
        &:not(:last-child) {
          border-bottom: 1px solid #d2d9e0;
        }
        a {
          display: block;
          color: #2d3f52;
          margin: 0 0.5em !important;
          padding: 1em 0;
          transition: transform 1s;

          &:hover {
            transform: translateX(1em);
          }
        }
      }
    }
    .humbugger-menu,
    .mobile-menu {
      display: block;
      z-index: 5;
    }
  }
}
